# General
.DS_Store
.env
.env.*
*.log
*.sqlite
dist/
build/
coverage/
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/

# Python / Poetry
.poetry/
.venv/
pip-wheel-metadata/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Alembic
alembic.ini.bak

# Docker
*.pid
docker-data/
